/*  grey Header & Header containers for logo, searchbox, login button &  user profile    */
.header-main-container {
    background-color:#263238;
    height: 36px;
    padding: 8px 32px 8px 16px;
    display: flex;
    justify-content: space-between;
}
.header-logo-container, .header-search-container, .header-login-btn-container, .header-user-profile-container {
  align-self: center;
}

/* fastfood logo css */
.fastfood-icon-container {
    float: left;
    color:white;
}

/* searchBox */
.search-icon-container {
    display: flex;
    border-radius: 4px;
    width:300px;
}
.search-icon {
  align-self: center;
  color:white;
}
#search-input {
    color:white;
}
.search-text-input {
  padding: 0px 4px 4px 0px;
  font-size: 15px;
  width:300px;
  
}
.MuiInputBase-root.MuiInput-root.MuiInput-underline {
  width: 250px;
  color: black;
  
}

/*  account circle icon having a padding on right   */
.accountCircle-logo {
  padding-right: 6%;
}

/*  login button to float right  

.login-button-container {
    float: right;
}*/

/* user profile icon */
#user-profile {
  display:flex;
  flex-direction: row;
}
#user-right {
  color: darkslategrey;
  float:right;
}
/*css for user profile menu drop down */
.user-profile-drop-down {
  position: absolute;
  right: 16px;
  background: #dfdfdf;
  padding: 16px;
  border-radius: 6px;
  margin-top: 3px;
  display: block;
}
.my-account-dropdown-menu-item, .logout-dropdown-menu-item {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

/*css for login-signup tabs in modal */
.tabs {
  margin: 20px;
}

/*css to make the header responsive */

@media (max-width:600px) {
    header {
        flex-direction: column;
        height: 100%;
    }
    .app-header-container {
        background-color: #263238;
        height: 100%;
    }
    .search-icon-container {
        float: left;
    }
}

  .user-profile-drop-down {
    position: absolute;
    right: 16px;
    background: #dfdfdf;
    padding: 16px;
    border-radius: 6px;
    margin-top: 3px;
    display: block;
  }
  
  .my-account-dropdown-menu-item, .logout-dropdown-menu-item {
    text-decoration: none;
    color: #000;
    cursor: pointer;
  }
    

  /* All the css in header  is checked  */